<h1 class="mt-4">Dashboard</h1><p class="lead mb-3">Welcome <%= decoded.payload.username %> We have been waiting for you</p>
<p class="lead mb-4">To try RCE you need to login as admin </p>

<a href="/logout" class="btn btn-secondary">Logout</a>
